[2016-04-07 18:00] philss opened #5 "How to generate keys?"
This is a question and a proposal to add a little guide about key generation.

I tried myself, but I'm not sure if I'm doing right.

I followed this article about [hash functions](https://www.djm.org.uk/posts/cryptographic-hash-functions-elixir-generating-hex-digests-md5-sha1-sha2/).
So, to generate the key I'm doing something like:

[code]

And them, I use this as my key:

[code]

@danielberkompa

[2016-04-07 23:44] danielberkompas commented on #5
If you want a random 256-bit key, all you have to do is generate 32 bytes and then run it through `Base.encode64`:

[code]

A random key is more secure than one based on a set of keywords. However, if you were going to use a keyword, your approach seems reasonable. Just be aware that if you use a keyword, it's just as subject to guessing as a password would be, and `sha256` is generally considered

[2016-04-08 13:23] philss commented on #5
Got it, thanks! :)
Random keys seems to be better.

[2016-04-08 13:23] #5 closed

[2016-04-15 20:54] bbrock25 opened #6 "Cloak.EncryptedMapField strange Poison errors"
I'm getting some strange errors when trying to convert an existing map field implementation to using the Cloak.EncryptedMapField. Is anyone else seeing this?

** (FunctionClauseError) no function clause matching in Poison.Encoder.BitString.chunk_size/3

[code]

[2016-04-15 23:43] bbrock25 commented on #6
Apparently this was due to our test db being out of sync with development. I'm good, thanks for the package!

[2016-04-15 23:44] #6 closed

[2016-04-26 07:00] bgeihsgt opened #9 ":system AES keys aren't getting base64 decoded"
I'm running `0.2.0` and noticed that when specifying an AES key from an environment variable, Cloak is not base64 decoding the value retrieved from `System.get_env`. Is this by design?

I think it should base 64 decode the contents of the environment variable as that's the key that I would expect to be used given I base64 encoded the key when I set the environment variable.

[2016-05-16 21:12] bgeihsgt opened #10 "Support for Ecto 2.0"
Ecto 2.0 is in RC right now and should be releasing soon. Cloak is pinned to Ecto 1.1 right now. It'd be great to have Cloak support for 2.0 given we want to move our app to 2.0 soon. Thanks!

[2016-05-16 21:21] Mrjaco12 commented on #10
I did a brief look and I don't think that cloak is actually dependent on any ecto < 2.0 features so it *should* just be a matter of updating the dependency.

[2016-05-18 15:05] philss commented on #9
I can to take this one if you agree, @danielberkompas.

[2016-05-18 15:21] danielberkompas commented on #9
Why can't you just set the environment variable to the base64 encoded key?

[2016-05-18 15:22] danielberkompas commented on #9
@philss go for it.

[2016-05-20 15:47] danielberkompas commented on #10
@bgeihsgt @Mrjaco12 Doesn't the `{:ecto, ">= 1.0.0"}` version requirement cover Ecto 2.0 already? Since Cloak doesn't require any Ecto 2.0 features, I don't want to prevent people from using it if they are on Ecto 1.

[2016-05-20 16:04] Mrjaco12 commented on #10
When I tried it locally it didn't work by default with ecto2-rc but maybe the version checker ignores rc/beta versions?

[2016-05-20 16:06] danielberkompas commented on #10
Yeah, possibly. I think it will work once `rc` is out of the version name. In the meantime, you can use the `override` option in your deps.

[code]

[2016-05-20 16:06] #10 closed

[2016-05-21 00:16] erneestoc opened #12 "Issue integration with Ecto2?"
I'm attempting to use this library, followed instructions, and even read the encrypt fun inside the cipher derectory..  I keep getting this error.
[code]
What am I doing wrong?

[2016-05-22 01:59] philss commented on #12
@erneestoc it's probably related to the key that you are using. How did you generate the key?

Try to generate your key like this:

[code]

This will generate a base64 string that you can use as your key:

[code]

More info in this issue: #5 .

[2016-05-27 17:38] bgeihsgt commented on #9
@philss There's an issue with this approach in that it breaks existing data that was saved the old way. I don't want to update to latest Cloak because I'll lose data that was saved with the old way. We're probably going to need a new handler that's called something different than system.

[2016-05-27 20:23] danielberkompas commented on #9
@bgeihsgt Can you elaborate on how it breaks existing data? This is just about how you store your keys in environment variables. Previously, if you used the `{:system, "ENV_VAR_NAME"}` syntax, ENV_VAR_NAME had to store the key in binary. I'm not even sure that's possible.

Now, ENV_VAR_NAME should be a base64 encoded string, which should be easy to store. I don't see how this causes a problem?

[2016-05-28 08:19] bgeihsgt commented on #9
Here's what happens before the fix:

- Generated a key
- Base 64 encoded the key
- Set the base 64 encoded value as an ENV variable in my production environment

The code before the fix will read the base 64 encoded value and use that as the key. So the encrypted values saved in the database are encrypted with the base 64 string, not the key itself.

If we leave the fix as is, then the code will t

[2016-05-28 19:03] danielberkompas commented on #9
I'm honestly pretty surprised that the `:crypto` module (which Cloak.Ciphers.AES uses under the hood) would accept a Base64 encoded string rather than a binary key.

The `{:system, "VAR_NAME"}` syntax is an Elixir standard, so I don't want to eliminate it in favor of something like `{:env, "VAR_NAME"}`. Fortunately, there should be an easy fix here.

Configure two keys in Cloak, like this:

[code]

[2016-05-28 19:09] danielberkompas commented on #9
When I try to use a base64 encoded string with `:crypto`, I get an argument error:

[code]

I don't see how your data could have been encrypted with the base64 string. It has to be decoded to binary first. Can you share your configuration?

[2016-06-06 21:27] philss commented on #12
did you try to generate another key, @erneestoc?

[2016-07-01 20:47] rpelyush commented on #12
@philss I had the same issue with key.
This ```:crypto.strong_rand_bytes(32) |> Base.encode64``` helped, thanks!
How about adding this as an example to README? https://github.com/danielberkompas/cloak/pull/14

[2016-07-01 20:58] philss commented on #12
@rpelyush I agree with that. cc/ @danielberkompas

[2016-07-02 21:42] danielberkompas commented on #12
The documentation has been updated in #14, thanks to @rpelyush. Closing this down. :smile:

[2016-07-02 21:42] #12 closed

[2016-07-02 21:46] danielberkompas commented on #9
Closing this down due to inactivity. I'll be happen to reopen once my question about configuration above can be answered. :smile:

[2016-07-02 21:46] #9 closed

[2016-08-23 06:15] bgeihsgt opened #16 "mix cloak.migrate doesn't update encryption_version field"
I just ran a cloak.migrate on my production system and it successfully updated each encrypted column, but it did not update the encryption_version column on any of the rows.

I think the culprit is in https://github.com/danielberkompas/cloak/blob/master/lib/mix/tasks/cloak.migrate.ex#L120-L126. The old code used to automatically set the encryption version field, but now that no longer happens, thi

[2016-09-02 22:56] danielberkompas commented on #16
Yeah, this is a side effect of upgrading Cloak for Ecto 2.0.  Cloak used to rely on schema callbacks to update the version, so `repo.update!` was enough. Now, it's going to need to explicitly update the version field.

[2016-09-08 15:47] nathany commented on #16
Hi Daniel. Any update on Ecto 2 support?

[2016-09-08 16:06] nathany opened #17 "instructions to cloak plain text fields"
I want to cloak a few fields in an existing schema before it goes into production. Any recommendations for migrating plain text `string` fields to encrypted `binary` fields?

[2016-09-08 16:40] nathany commented on #17
I have the part to convert to/from binary fields in Postgres. Now just need to encrypt them.

[code]

[2016-09-08 21:34] nathany opened #18 "cloak migration not running"
It gives the following error:

[code]

Erlang 19.0.2, Elixir 1.3.2, ecto 2.0.4

I do have `config :cloak, :migration` setup and `Application.get_env(:cloak, :migration)` returns the data I expect when ran in iex.

[2016-09-08 21:52] nathany commented on #17
Current issue:
[code]

[2016-09-09 00:01] danielberkompas commented on #18
@nathany This has been fixed on master. See https://github.com/danielberkompas/cloak/pull/15 for more details. Once I get a couple more issues fixed, I'll push a new release.

[2016-09-09 00:01] #18 closed

[2016-09-09 00:05] nathany commented on #18
Thanks. I'll update to master and test it tomorrow.

[2016-09-09 00:40] danielberkompas commented on #17
This is a valid issue. I don't have a solution for you yet but I will work on it.

[2016-09-09 00:41] #16 closed

[2016-09-09 00:41] danielberkompas commented on #16
@nathany Cloak should already support Ecto 2.0, apart from this bug.

[2016-09-09 15:37] nathany commented on #18
Thanks for the fix.

[2016-09-09 15:40] nathany commented on #17
So I now have binary (bytea) fields containing plain text, but I still need to encrypt them.

Using `github: "danielberkompas/cloak"`, the  `mix cloak.migrate` task reports:

[code]

Not a surprise, as `encryption_version` is nil and there isn't anything setup to handle plain text in the config.

[2016-09-09 17:43] danielberkompas commented on #17
I'm thinking that the best way to solve this would be to add a Cloak configuration option.

[code]

If you set it to `false`, Cloak will just read out the value of a field if it can't decrypt it. This should work fine for plaintext fields. Then, when the struct is saved next, Cloak would encrypt it.

[2016-09-09 17:52] nathany commented on #17
That could work, assuming the fields have already been converted to binary (in my case they have).

I am thinking of writing a migration to encrypt all the existing fields as well -- using a regular Ecto migration (instead of `cloak:migrate`).

[2016-09-22 17:28] tlvenn opened #21 "Provide Vault Transit cipher"
Thanks for this great lib Daniel !

I was thinking that it would be pretty awesome to provide a Vault Transit cipher:
https://www.vaultproject.io/docs/secrets/transit/index.html

Benefits would be that the key is never touching the app, encryption/decryption happen within a pretty secure dedicated service. Transit support key rotation and rewrap.

[2016-09-23 02:59] tlvenn commented on #21
Good intermediate solution would be to fetch the key(s) from Vault so that the encryption/decryption is still done by the app but the key is never stored in the config or exposed to the host as ENV variable.

[2016-10-31 16:10] danielberkompas commented on #21
@tlvenn That could be pretty interesting. I assume that Vault is supposed to be used like an HSM: whenever you want data encrypted or decrypted, you ship it off to Vault and use the response.

A couple thoughts:

- Doing a network roundtrip to Vault adds latency, the possibility network failure, (causing Ecto.Type cast errors?) and possibly exposes your plaintext to interception in transit. Techni

[2016-11-14 04:23] tlvenn commented on #21
Not necessarily, actually in most cases, it's being used as a secure trusted credential store that apps interact with to get credentials, tokens, keys and the like. So it's not like an HSM in that regard.

The key idea is all your credentials are stored in a centralised secure store and those credentials are only maintained in memory by the services which need them.

Yes but it's all in memory and

[2016-11-26 21:28] danielberkompas commented on #21
@tlvenn So, as I understand it, the idea here would be to create a cipher which:

1. Stores a token/url to communicate with Vault
2. On encrypt/decrypt, fetches the key from Vault using this token, and then performs the operation locally.

[2016-11-27 02:53] tlvenn commented on #21
Hi @danielberkompas,

I would configure the host/port/path/token used by Cloak to interact with Vault using (:cloak, :vault, ...) at the app level.

Then I would leverage the generic backend and dedicate a path/namespace to cloak (/secret/cloak for example)

Under that namespace we can store different versions of the key and the token provided to the app would allow to read only those keys under t

[2016-12-02 06:17] tlvenn commented on #21
Regarding the CLI, vault has a CLI already so I think it should be enough to simply generate the vault cli command needed to init clock or rotate the key.

[2016-12-21 03:05] tlvenn commented on #21
Hi @danielberkompas,

Was thinking about this more and actually we dont really need to do anything on Cloak side unless we decide to leverage the Vault Transit backend. The idea would be to simply create a VaultConfig lib which can pull secrets from Vault and inject it into the application env.

Then it only a matters of making sure that the keys cloak expects are loading by VaultConfig.

[2016-12-22 03:20] danielberkompas commented on #21
Yeah, that makes sense! I'll close this issue down then. Thanks for your attention to this!

[2016-12-22 03:20] #21 closed

[2016-12-31 16:47] bglusman opened #22 "Adding interoperability with attr_encrypted?"
Hi Daniel/@danielberkompas ,

I recently got attr_encrypted data decrypting in Elixir (and have a pending PR in ExCrypto to ease the path for others on same task), but am wondering if we can make a mode or variant of cloak that will operate directly on attr_encrypted columns for migrating or sharing a database from rails to phoenix.  I may take a crack at this, but thought I'd ping here first for

[2016-12-31 20:34] danielberkompas commented on #22
Hi @bglusman,

This should be possible in Cloak by implementing a new Cipher module. The only hangup I can see is that Cloak expects there to be a tag (such as a 0 byte) at the beginning of each ciphertext, designating which module it should use to decrypt it.

I don't think `attr_encrypted` adds any such tags, so Cloak would have a hard time knowing that it needed to use the special "AttrEncrypte

[2017-01-01 21:46] bglusman commented on #22
@danielberkompas yes, the tag issue was what jumped out at me as the hard part, and partly I wondered how hard it would be to make tags optional/have a configuration setting that could essentially make the tag "nil" or 0 bit-length or something...  hadn't come across details on the Cipher modules, will try and look into that, but yeah...  mostly wanted to get your buy-in and thoughts before I atte

[2017-01-02 17:37] danielberkompas commented on #22
@bglusman actually, it won't be easy to extract the IV reading either, because only the ciphertext is passed to the Cipher module. This is an inherent limitation of `Ecto.Type`s, they only operate on the fields they are assigned to, and don't have access to the whole struct.

So, I don't see how we would be able to get Cloak to read the IV out of a separate field.

[2017-01-03 02:16] bglusman commented on #22
Hmm, OK thanks @danielberkompas !  disappointing but understandable...  maybe I'll try and make a fork that can be compatible, or maybe just not have a convenience wrapper and like this and just make a module or a macro or something that can handle decrypting the attr_encrypted stuff, dunno... not an imminent concern, but feels like a nice problem to solve for others since so many rubyists are int

[2017-01-14 15:54] danielberkompas commented on #22
Closing this for now as there doesn't seem to be a viable path forward.

[2017-01-14 15:54] #22 closed

[2017-01-23 17:09] mrrooijen opened #23 "index on encryption_version"
In the readme example you're creating an index for the `encryption_version` field. Do you recommend this? If so, why?

Thanks for the great lib!

[2017-03-06 11:27] seymores opened #24 "How to encrypt with user's own key instead of key from config?"
Assume the user has his own key, and assuming it is just to figure out how to inject the user's key into Cloak's private [cipher](https://github.com/danielberkompas/cloak/blob/master/lib/cloak.ex#L195) function.

Any idea how to get the user's key from current active process? :-)

[2017-03-19 03:00] danielberkompas commented on #24
Since there's no guarantee that the casting will occur in the same process, I'm not sure this is possible using Ecto Types. You'll probably need to implement this in your application logic before the data hits Ecto.

[2017-03-22 02:31] #24 closed

[2017-03-22 02:33] danielberkompas commented on #23
`encryption_version` is indexed so that the migrate Mix task can most efficiently find the rows that need to be migrated to the new key.

[2017-03-22 02:33] #23 closed

[2017-03-23 20:33] cayblood opened #26 "Add salt option to cloak for increased security"
It would be nice if you could specify a salt column that could be used to encrypt each row's cloak-enabled columns differently, for added security.

[2017-05-02 20:39] tielur commented on #17
@nathany did you have any luck with this? I'm currently going down something similar. I wrote a migration that creates new binary fields, and then updates them with the string fields.

[code]

I've noticed that when I query the database, the values are still showing as binary. How would I be able to treat them as a string?

[2017-05-02 23:07] nathany commented on #17
Sorry, I don't recall. It's been a while since I've used Elixir.

[2017-05-03 19:44] danielberkompas commented on #17
@tielur can you share your schema module's `schema` definition?

[2017-05-04 17:13] tielur commented on #17
@danielberkompas I think I found out how to do it. Basically what I'm doing is using the `encode` and `decode` functions that @nathany wrote above. I'm changing the field type from `utf8` to `bytea`. Once that is done I'm reading all of the rows, updating the fields I changed the type of, and saving them so they get encrypted via Cloak.

[2017-05-25 22:00] tielur opened #29 "Recommendations for data migrations"
So I recently started using cloak in a project with existing data. I'm in the process of figuring out the best way to migrate that data to it's encrypted version. I ran into a few things and I'm looking for recommendations that might be worth documenting for other users. Here's a few things:

1. I want to encrypt data in a migration.
2. I want to use schemaless Ecto queries to future proof the mig

[2017-05-25 22:40] tielur commented on #29
Another option would be to define a schema in the migration to use with a schema query?

[2017-06-01 23:24] tielur opened #31 "Allow key to be in Application env"
I'm currently working on a project where I am pulling the Cloak cipher encryption key down from AWS KMS at runtime and storing the decrypted data key in the app's env. Right now Cloak supports pulling the key from the System environment but it would be nice if it also handled pulling from the OTP app env.

[2017-06-12 14:28] tomciopp opened #33 "Proposal AES GCM cipher as default Cipher"
I think we should write an AES GCM module and make that the default standard for cloak. This method of encryption is recommended by NIST[1] and several crypto researchers[2][3]. This is also the method which plug uses for its message encryption.[4] This change would strengthen Cloak's encryption and protect against additional methods of attack.

[1] http://nvlpubs.nist.gov/nistpubs/Legacy/SP/nists

[2017-07-01 04:01] warmwaffles opened #34 "Compile warnings"
Getting a ton of warnings coming from this library.

[code]

[2017-07-25 00:50] tomciopp commented on #26
@cayblood Typically a salt is only used for hashing a one way function. AES encryption uses a random initialization vector which it stores along with the data when it encrypts it. Therefore it should not be necessary, nor would it add any additional security if there was an additional salt field.

@danielberkompas Unless you have any other views on this topic I suggest this issue should be closed.

[2017-07-31 14:12] #31 closed

[2017-08-03 23:45] tielur commented on #31
👍
@danielberkompas When will the new push to hex.pm occur?

[2017-08-05 16:19] danielberkompas commented on #34
This should be fixed now.

[2017-08-05 16:19] #34 closed

[2017-08-05 16:23] danielberkompas commented on #26
I agree with @tomciopp. This idea would also be difficult to implement because it requires two fields. Cloak (and Ecto custom types in general) work best on a single field.

[2017-08-05 16:23] #26 closed

[2017-08-05 16:30] danielberkompas commented on #31
I just released `0.3.2` with this change.

[2017-08-21 15:13] tomciopp opened #35 "EncryptedIntegerField and EncryptedFloat field do not cast properly"
Currently if you want to encrypt an integer or a float and pass in invalid input, the information will be saved in the database, but when you attempt to decrypt the data an error will be thrown in the call to `after_decrypt`. Here should be a brief example that will demonstrate the issue:

    defmodule App.User do
      use AppWeb, :model

      schema "users" do
        field :age, Cloak.Encrypt

[2017-09-08 16:23] #35 closed

[2017-09-25 15:40] asummers opened #36 "Proposal / Forthcoming PRs: Multiple Ciphers With Keys"
Looking through the code, there seems to be a series of assumptions that the default encryption algorithm will be the only one with a key. There exists things like the `Cloak.Sha256Field` that allow you to put in values without keys, but the way that the `encrypt` function works, it looks like an additional key will be hard to get at currently. The tests seem to support this state of affairs, with

[2017-09-26 15:11] asummers commented on #36
Here's my current diff to give you an idea of what I'm thinking: https://github.com/danielberkompas/cloak/compare/master...asummers:allow-multiple-concurrent-ciphers

[2017-09-28 15:38] asummers commented on #36
It seems like the `encryption_version` column would need to be rethought a bit in this world of having different encryption keys for different fields. Maybe being able to override the field used in the `cloak` migration step would achieve it. That way you could express `first_name` is version 1, but `last_name` could be version 2.

[2017-10-09 20:50] asummers commented on #36
Hello @danielberkompas just curious if you've had an opportunity to look at the above issue and/or the associated PR.

[2017-10-09 22:40] danielberkompas commented on #36
@asummers sorry, I've been swamped with work, so this is the first time I've seen this. Can you give me a tl;dr version of what `config.exs` would look like with your changes?

[2017-10-10 02:27] asummers commented on #36
@danielberkompas No worries whatsoever!

It'd look the same as current. So borrowing the one from docs you could say:

[code]

And if you then said `Cloak.encrypt("plaintext")`, it would then go through and use the AES cipher due to `default: true`, exactly as it does now. However, then you could then say `Cloak.encrypt("plaintext", "AES")` to mimic that, or `Cloak.encrypt("plaintext", "AES_second

[2017-10-10 03:04] #36 closed

[2017-10-10 03:31] asummers opened #38 "Cloak.AES.CTR `encrypt/2` not explicitly called?"
It appears `encrypt/2` in `AES` cipher will always default to the `\\ nil` case in the second parameter, as the code currently exists. Was this intended to be used for something? If so, it should be added to the behaviour, as the behaviour only specifies `encrypt/1` which doesn't play nicely when you `@impl` it for Elixir 1.5 (it complains about you `@impl`ing the arity 2 function). If not, it and

[2017-11-23 22:05] r-donoghue opened #40 "** (MatchError) no match of right hand side value: false"
** (Mix.Config.LoadError) could not load config config/config.exs
    ** (MatchError) no match of right hand side value: false
    (stdlib) base64.erl:212: :base64.decode_binary/2
    (stdlib) erl_eval.erl:670: :erl_eval.do_apply/6
    (stdlib) erl_eval.erl:776: :erl_eval.eval_map_fields/5
    (stdlib) erl_eval.erl:259: :erl_eval.expr/5
    (stdlib) erl_eval.erl:228: :erl_eval.expr/5
    (stdlib)

[2017-11-24 05:17] danielberkompas commented on #40
You need to put an actual key in the "your key here" section.

[code]

You can generate a key like so:

[code]

Copy the resulting string into "your key here".

[2017-11-24 05:17] #40 closed

[2017-11-24 05:21] danielberkompas commented on #38
It's been a while since I wrote that so I don't know what the original intention was. Not all ciphers will necessarily use key tags, so I don't think the answer is to add the `key_tag` parameter to `encrypt/1`.

Probably the right answer is just to remove it.

[2017-11-24 05:25] danielberkompas commented on #33
Cloak's cipher behavior is extensible, and I'd be happy to accept PRs for this. As demonstrated in Plug, this algorithm is non-trivial to implement.

[2017-11-24 10:12] r-donoghue opened #41 "Encryption Arguement Error"
Myapp.AES.encrypt("hello world!")
** (ArgumentError) argument error
    (crypto) :crypto.aes_ctr_stream_init(nil, <<165, 8, 128, 64, 58, 198, 74, 26, 109, 69, 85, 144, 240, 81, 189, 42>>)
    (crypto) crypto.erl:282: :crypto.stream_init/3
    (myapp) lib/myapp/encrypt.ex:6: Myapp.AES.encrypt/1

[2017-11-24 23:46] asummers commented on #38
I have a branch that does the non-removal part if you'd like to take a peek at how it would work.  It's been a little while since I looked at this code, so I would have to rethink how it would work the way you said.

https://github.com/danielberkompas/cloak/compare/master...asummers:fix-behaviour

[2017-11-27 11:53] #41 closed

[2017-11-27 19:59] tomciopp commented on #33
See #42 for implementation of this cipher

[2017-11-27 20:04] tomciopp opened #43 "Migrations in multi tenant applications"
I have an application with multiple schema based tenants however the current mix task does not allow for prefixes to be passed through. I've written another migration task for my own app but have run into issues surrounding `Cloak.Config.all` hardcoding the atoms `:migration`, and `:included_applications`. I think a better solution would be to add a boolean field that should be checked when defini

[2018-01-02 19:46] danielberkompas commented on #43
@tomciopp sorry for the late response here. Would it be enough to just add a `prefix` option to the configuration, so that you could do:

[code]

[2018-01-02 19:47] danielberkompas commented on #29
I agree that there should be documentation on how to migrate existing data. I think this would consist of calling the `encrypt` functions manually, yes.

[2018-01-02 19:48] danielberkompas commented on #17
Gonna merge this discussion with #29.

[2018-01-02 19:48] #17 closed

[2018-01-02 19:50] danielberkompas opened #44 "Make json library configurable"
With the release of [jason](https://github.com/michalmuskala/jason), Cloak should no longer assume that you'll be using Poison.

[2018-01-02 20:22] tomciopp commented on #43
It may take a few days since I am on vacation. Will take a look at it when
I get back

On Tue, Jan 2, 2018 at 2:46 PM Daniel Berkompas <notifications@github.com>
wrote:

[2018-01-02 20:31] danielberkompas commented on #43
We could use the `__info__/1` reflection function on modules to decide whether a module is a cipher instead of hard-coding `:migration` and `:included_applications`.

[code]

[2018-01-02 20:34] #44 closed

[2018-01-05 22:18] #33 closed

[2018-01-05 22:44] tomciopp commented on #43
I'm wary of adding a `prefix` key unless we convert Cloak to the callback style of configuration that is favored in Phoenix and other libraries. I'm assuming most applications will be loading prefixes from a database and if you have multiple tenants this is likely to be a function call. (Ex. `MyApp.Tenant.prefixes()`) In my experience executing code in the configuration just doesn't work when you

[2018-01-06 01:58] danielberkompas commented on #43
Does using `__info__/1` solve this issue or is there more that should be done?

[2018-01-06 02:50] tomciopp commented on #43
Using `__info__` helps a lot. Perhaps there should be some docs for people who need to handle multi-tenancy however I am unsure if it is necessary. I think we can mark this as closed

[2018-01-06 03:05] #43 closed

[2018-02-26 18:56] beardedeagle opened #55 "Use with mnesia?"
This lib has a hard dep on ecto and unfortunately the ecto_mnesia lib isn't fully there yet. Any tips on what would need to be done to decouple this from ecto to be used with mnesia?

[2018-02-26 18:59] danielberkompas commented on #55
Cloak provides a usable module API that you could call directly. You could call `Cloak.encrypt` and `Cloak.decrypt` directly to encrypt or decrypt binaries and not use any of the Ecto Types.

I haven't used Mnesia in production, so I don't know it's API well enough to know if `mix cloak.migrate` could work without Ecto.

[2018-02-26 19:40] beardedeagle commented on #55
I can give that a try and see how it works. Baring that I can create a sister package that deals with mnesia/ets

[2018-02-26 20:12] danielberkompas commented on #55
If you went the second route, I'd rather split out the ecto-specific code into `cloak_ecto`, and then we could make `cloak_ets`, `cloak_mnesia` etc.

[2018-03-07 21:53] monting opened #57 "Argument error"
When I run `Cloak.encrypt("Hello")` , I'm getting:

[code]

My configuration:
[code]

I tried using CTR in the config as well, and was getting a similar Argument Error.

Erlang version: `20.1`
Elixir version: `1.6.2`

Any pointers appreciated!

[2018-03-07 22:02] danielberkompas commented on #57
@monting As shown in the README, you need to `Base64.decode` your key before it can be used. (Assuming your key is in Base64 notation)

[code]

[2018-03-07 22:02] #57 closed

[2018-03-18 15:40] jdewar opened #58 "Clarification on usage of 'default' in documents"
Very interested in Cloak, trying to understand the documentation.

In the 'Configuration' section of documentation there's a line that says: `provided that they are not both set to default: true`

The example directly below has both of the defaults set to true.  Should one be false?

[2018-03-19 18:34] jdewar opened #59 "Is poison optional?"
I ran into `** (Mix) Could not start application poison: could not find application file: poison.app`

Adding it as an application seems to be in opposition with its 'optional' nature in the mix.exs:

[code]

It would be nice if it was truly optional, as I probably only need to encode strings

[2018-03-19 22:39] #58 closed

[2018-03-19 22:39] danielberkompas commented on #58
Yes, that was a mistake.

[2018-03-19 22:41] #59 closed

[2018-03-19 22:41] danielberkompas commented on #59
Yes, it should be truly optional as long as you don't need to encode maps. I removed it from the `applications` list.

[2018-03-19 22:41] #55 closed

[2018-03-19 22:46] #38 closed

[2018-03-20 21:22] danielberkompas commented on #29
Guidance will be coming for this in the upcoming `v0.7.0` release. Stay tuned.

[2018-03-20 21:22] #29 closed

[2018-03-20 22:02] tielur commented on #29
For what it's worth I went with defining a schema in my migration that worked well. Ideally this probably shouldn't even be in a migration, probably makes more sense in a mix task. I'm looking forward to see what solution Cloak takes though. Thanks for the update!

[2018-03-20 22:06] danielberkompas commented on #29
@tielur this is the guide that will be included in Cloak 0.7:

https://github.com/danielberkompas/cloak/blob/master/guides/how_to/encrypt_existing_data.md

[2018-03-20 22:29] tielur commented on #29
@danielberkompas Awesome looks good. I like keeping that in a mix task as well. 👍

[2018-03-23 22:28] paulstatezny commented on #5
He @danielberkompas, I wasn't sure whether to comment here or open another issue...

Thanks for cloak! It's great.

I think it would be helpful to add details back to `README.md` or somewhere in plain sight on how to generate keys properly. Was working with a coworker and noticed that it was removed from the README.

If you're up for that I'd be glad to put in a PR.

[2018-03-23 23:10] danielberkompas commented on #5
I'll add it into the docs soon. It's pretty simple:

[code]

If you intent to store your key in an environment variable, you'll need to Base64 encode/decode it as shown in the docs.

[code]

[2018-04-24 16:37] kiere opened #65 "(Postgrex.Error) ERROR 22021 (character_not_in_repertoire)"
I'm trying to integrate Cloak into a new Elixir/Phoenix application:
Elixir 1.6.4
Phoenix 1.3.0
Ecto 2.2.8
Postgrex 0.13.5
PostgreSQL 10.0 (postgres.app v2.1.3 (42) on macOS 10.12.6)

I have added the following config to my `dev.secret.exs`:
[code]
_(That's not the real key, but it was generated the same way using the comment above the config)_

In my `User` schema, I have the following...
[code]

[2018-04-24 17:12] danielberkompas commented on #65
As noted in the EncryptedBinaryField documentation, the underlying field type must be of type `:binary`. This is because the Ecto type will generate a binary that is not UTF-8 encoded. Postgres's varchar field is UTF-8 encoded.

Also, please note that there are major changes coming to Cloak in 0.7.0-alpha.1. https://github.com/danielberkompas/cloak/releases/tag/v0.7.0-alpha.1

If you're starting a

[2018-04-24 17:13] #65 closed

[2018-04-24 18:03] kiere commented on #65
Hi @danielberkompas, thanks for the quick response!  A quick change to the db  solved the issue, however, is this the documentation you were referring to?
https://hexdocs.pm/cloak/Cloak.EncryptedBinaryField.html#content

I didn't see anything that specifically said you cannot use a `:string` data type when creating the table via a migration.  (However, my field was pre-existing anyway.)

Since str

[2018-04-24 18:08] danielberkompas commented on #65
You're right, the docs on `EncryptedBinaryField` don't mention this, though the other `Encrypted` fields do.

If you would like, you can look at updating the guides in the `guides/` folder, as these will be packaged up in the Hex documentation and be accessible to everyone. However, I can also do this and would be happy to in preparation for the 0.7.0 release.

[2018-04-25 16:36] danielberkompas opened #66 "Roadmap"
- [x] Release 0.7.0

## 1.0

- [ ] Split Ecto components into `cloak_ecto` library. `Vault` and `Cipher` would remain in `Cloak`, while `Cloak.Field.*` and `mix cloak.migrate` would move to `cloak_ecto`.

[2018-05-03 21:40] kiere commented on #65
PS - Anyone finding this later, the docs/guides for 0.7.0+ are excellent for getting started.  Just rewrote everything using them and it worked perfectly the first time.

[2018-08-30 19:10] beardedeagle commented on #66
Would the split make it easier to add support for something like using cloak with mnesia without ecto?

[2018-08-30 19:49] danielberkompas commented on #66
It wouldn't make it _easier_ per se, but it would allow you to depend on the Cloak core without bringing in a bunch of Ecto modules you won't use.

[2018-09-07 03:03] brentjanderson opened #70 "Support migrations with non-integer `:id` field"
As noted in the `mix cloak.migrate` documentation, cloak migrations only support integer sequence `:id` primary key fields. Having a strategy for uuid would be beneficial so that databases using UUIDs can benefit from cloak as well.

[2018-09-17 09:32] jaimeiniesta opened #74 "convert Cloak errors into Ecto errors"
I have a Phoenix 1.3.3 app using Cloak 0.7.0, on Ecto 2.2.10 over MySql 5.7.

To make it work, I needed to change the type of the columns from `:string` to `:binary`. Which in turn uses the `blob` MySQL type.

OK, this is working fine but then I released the app where the DB structure was old, and it had `varchar(255)` instead of `blob`. When I tried the app there, encryption failed but it didn't

[2018-09-17 16:18] jaimeiniesta commented on #74
After further investigation, this error was not due to the column type in MySQL.

It keeps failing but unfortunately I can't tell why. I'll close this issue by now.

[2018-09-17 16:18] #74 closed

[2018-09-17 21:58] danielberkompas commented on #74
I’d be interested in the sample app if you are still willing to share it. This does sound like something that could be improved.

[2018-09-18 00:56] #70 closed

[2018-09-18 08:12] jaimeiniesta commented on #74
Sorry but I can't reproduce it. This app works fine in local releases but fails when deployed, not sure why. I'll share it with you if I can reproduce it fully.

[2018-09-19 07:14] jaimeiniesta commented on #74
So I finally found what caused the bug. It was due to a bad encoding in the MySQL DB used in the server, it was incorrectly set to `latin1` instead of the expected `utf8`.

So, encryption was OK, but when it saved it (to a `binary` column, `BLOB` in MySQL), it was stored in another charset and later when it is read from the DB, it cannot be decrypted.

I'm not sure this can be detected from Cloak,

[2018-09-19 15:41] danielberkompas commented on #74
Does encoding matter in MySQL blobs? It seems to me that binary blobs should just be just that, a blob of binary, with no opinion on encodings.

[2018-09-19 16:03] danielberkompas commented on #66
Closing this issue in favor of having separate issues and milestones for the roadmap.

[2018-09-19 16:03] #66 closed

[2018-09-19 16:11] danielberkompas opened #75 "Make Cloak.Vault a GenServer"
Right now, the `init/1` callback is called each time for encrypt/decrypt. This might be slow, depending on the logic in `init/1`.

## Spec

Make `Cloak.Vault`s into GenServers that must be added to your supervision tree. On startup, they store their configuration in a public ETS table.

The `encrypt` and `decrypt` functions would read configuration from this ETS table and perform their work in the

[2018-09-19 16:24] danielberkompas opened #76 "Remove deprecated ciphers"
The deprecated ciphers should remain in so that people can have a smooth upgrade to 1.0.0. In 1.1, they should probably be removed?

[2018-09-19 16:38] danielberkompas opened #77 "Extract Ecto components to cloak_ecto hex package"
Cloak provides enough useful functionality outside of Ecto that it might be useful to have two packages.  This would make it possible to rely on Cloak without bringing in Ecto as a dependency, and also make it easier to reuse Cloak in other persistence libraries.

### `cloak`

This package would contain `Cipher` and `Vault`.  These are the reasons you might use it in addition to `:crypto`:
  - Vau

[2018-09-20 08:13] jaimeiniesta commented on #74
Well I don't know what exactly caused this, but it seems related to the issue I linked above. These are the steps I took:

1.- Created a Phoenix app, using MySQL with MariaEx.
2.- Configured Cloak for it. The encrypted columns need to be of type `:binary`, not `:string`.
3.- Everything works fine locally.
4.- Deployed it to another server where the DB had not been created via `mix ecto.setup`, but

[2018-09-21 02:27] danielberkompas commented on #74
Thanks for the detailed write up! I agree, this doesn’t look like a problem with Cloak.

[2018-09-26 23:09] #75 closed

[2018-10-04 00:28] kevin-j-m opened #81 "Migrator Embedded Schema Error"
I am in the process of upgrading from 0.6 to 0.7 (ultimately up to 0.9) and have run into an issue with the migration mix task. It appears to have an issue handling an Ecto embedded schema. I have a schema that looks similar to this (where the schema and field names have been obviously changed):

[code]

Running the migration task:
[code]

Results in the following error:
[code]

I'm using Postgres

[2018-10-04 20:17] danielberkompas commented on #81
Hi @kevin-j-m, the only workaround I can suggest while I look into this would be to use an `Cloak.Fields.Map` field instead of an embedded schema. Would that work for you?

I'm looking into what it would take to add support for embedded schemas, but I'm not whether it makes sense to release that feature in `0.10` or back-apply it to `0.7`.

[2018-10-04 21:21] danielberkompas opened #84 "Support encrypted fields in embedded schemas"
See #81 and #83.

Some thoughts:

- The values would need to be base64 encrypted in order to encode to JSON
- Ecto needs to call Cloak's `dump` functions in order to trigger the encryption

[2018-10-04 21:52] danielberkompas commented on #84
I have posted a feature request in Ecto's Google group asking for a needed feature to support this: https://groups.google.com/d/msg/elixir-ecto/RbRdj2NFfDI/qsRLz15nAQAJ

[2018-10-04 21:56] #81 closed

[2018-10-05 18:29] jc00ke opened #85 "Testing with hashed fields fails to equal fixture"
I have a model with a `email_hash` field that is causing issues with the generated tests.

[code]

[code]

Notice that the `email_hash` in the fixture is set to `x@x.io` but the value returned from the database is a `<<binary>>`.

I'm fine with modifying the tests some, but I'm wondering if there's another way to handle it?

One option would be to explicitly query the database in the `user_fixture

[2018-10-05 19:47] danielberkompas commented on #85
Hi @jc00ke, if you don't want to modify the tests, you can change the `:email_hash` field to `:read_after_writes`.

[code]

[2018-10-05 19:51] jc00ke commented on #85
Sweet, that works. Thanks!

[2018-10-05 19:51] #85 closed

[2018-10-05 19:55] danielberkompas opened #86 "Add :read_after_writes to hash docs"
If this had been included in the examples, #85 would not have occurred.

[2019-03-26 20:41] jc00ke commented on #84
I'd love to see this. Just yesterday I tried using encrypted binaries on an embedded schema and then checked my database... not encrypted.

Another option that would work in my case, would be to use an encrypted `Map` as the field `Ecto` stores the `embedded_schema` in. Not sure how that would work with `Ecto` needing a `map` type though.

[2019-04-09 09:30] svileng opened #91 "Outstanding work for 1.0?"
Thank you for your work on this @danielberkompas!

I'm considering using cloak in a production environment and noticed the latest release is an `alpha`.

I checked the issues/PRs/projects in the repo and it I couldn't see anything important left to release a `1.0` stable version.

Do you see any breaking changes coming up and when do you think `1.0` would be released? I just want to make sure we'r

[2019-04-09 15:41] danielberkompas commented on #91
@svileng Thanks!  There are no planned improvements before releasing 1.0.0. I've only waited this long between the alpha and full release to give time for bugs to be discovered.

[2019-04-09 15:41] #91 closed

[2019-04-09 16:18] svileng commented on #91
@danielberkompas Thank you for the quick response and for letting me know 👍  It sounds to me that the current version is more of a "release candidate" rather than an "alpha" i.e. `1.0.0-rc.0`. To me, an alpha is something experimental and unstable, so that's why I was cautious to use in production ([wikipedia](https://en.wikipedia.org/wiki/Software_release_life_cycle#Stages_of_development)). It's

[2019-04-25 17:35] ulissesalmeida commented on #75
Hello,

Fist, thank you for this awesome library. It has good defaults and I'm really happy.

However, the only thing that bothers me, is the need of the GenServer. I was wonder why not read the configuration directly from the Application.gent_env, since it's backed by an ETS table too. It was a little bit counterintuitive for me has to start a supervised process  to call an encrypt function.

Wha

[2019-04-26 13:45] danielberkompas commented on #75
This was done for several reasons.

1. **Performance**. `Application.get_env` is significantly slower than reading configuration from an ETS table (at least in my testing). Cloak's encrypt/decrypt functions will get called very often in an app with a lot of encrypted fields. The Genserver starts and monitors and ETS table where it stores the configuration.

2. **More flexibility for configuration.

[2019-04-27 10:21] ulissesalmeida commented on #75
@danielberkompas

Thank you so much for your answer! It was awesome.

I did also my benchmarks, and I have some ideas, and I would like to hear about your thoughts.

You can access mine benchmarks results here: https://gist.github.com/ulissesalmeida/b260d9330f368995b63d7635a4561161

1. *Performance*

In my benchmark results, if we turn off parallelism, read from ETS table is 2 times faster than fr

[2019-05-30 04:23] beardedeagle opened #92 "MyApp.Vault.encrypt("plaintext") failing"
I'm getting the following error on `1.0.0-alpha` when following the docs:
[code]
Reading the crypto docs (http://erlang.org/doc/man/crypto.html#block_encrypt-4), I'm wondering if this is the issue:
[code]
It also appears that this is the old api?
[code]
OTP: 22.0.1 (compiled with kerl)
Elixir: 1.8.2 (compiled with kiex against OTP target)
Cloak: 1.0.0-alpha.0

[2019-05-31 15:07] danielberkompas commented on #92
I don't think this is due to the `block_encrypt` function. More likely, it has to do with your key not being available or base64 decoded?

[2019-05-31 15:25] beardedeagle commented on #92
I think it's due to OTP 22 personally, as there as a lot of changes around the crypto libs. I ended up rolling my own module internally that mostly mimics yours and it works fine with `TagLength` added:
[code]

[2019-05-31 15:29] danielberkompas commented on #92
I guess that could be the case, if OTP 22 introduces breaking changes to the `:crypto` module. I'd be a bit surprised if that's the case, but I haven't been keeping up with changes to OTP lately.

[2019-05-31 15:50] danielberkompas commented on #92
I pushed up a commit to test the library on Travis against OTP 22, and I'm not seeing any deprecation warnings or errors: https://travis-ci.org/danielberkompas/cloak/builds/539769955

[2019-06-01 03:22] beardedeagle commented on #92
Interesting, I'll dig further as I'm sure I'll use this library in another project I'm working on

[2019-06-21 18:20] praveenperera commented on #92
+1 same issue with OTP 22

[2019-07-15 18:29] andrejsm commented on #91
Any updates on how close we are to the v1?

[2019-07-24 20:50] josevalim commented on #84
This feature is now in Ecto. Just add:

    def embed_as(_format), do: :dump

To the Ecto type and it should work in future Ecto versions.

[2019-07-24 21:42] lucasmazza commented on #84
Tested this successfully on our app by decoding/encoding the values with 64 as suggested on the initial comment here:

[code]

[2019-07-31 23:07] danielberkompas commented on #91
1.0.0 has been released, as of now!

[2019-08-13 05:42] archseer opened #93 "AES GCM should use a 12 byte nonce instead of 16"
I've been working on an interop module for decrypting cloak fields from rust. The nonce/IV is set to 16 bytes, but rust libraries have it specifically hardcoded to 12 bytes ([support was removed even](https://github.com/briansmith/ring/issues/22)).

Related discussion here: https://github.com/siacs/Conversations/issues/2578

&

I'm not sure exactly how to patch this without breaking compatibility

[2019-08-15 14:34] stocks29 commented on #92
In case anyone else stumbles across this, the key in the config needs to be decoded bytes, not base64 encoded string:

https://github.com/danielberkompas/cloak/blob/master/config/test.exs#L8

[code]

[2019-08-16 15:24] #92 closed

[2019-08-16 21:26] danielberkompas commented on #93
I think a new cipher is the correct solution in this case. You can probably implement it locally in your project, using Cloak.Ciphers.AES.GCM as a guide.

In Cloak 2.0, we can change the default IV length while providing an upgrade path.

[2020-01-10 17:02] chulkilee commented on #76
What about this: deprecate in 1.1, and remove in 1.2 (elixir-style bump) or 2.0 (real semver bump)

[2020-02-01 17:04] danielberkompas commented on #93
This has been partially addressed by #95. In Cloak 2.0, the default iv length will be 12-bytes.

For now, you can switch to 12-byte IVs like so:

1. Add a 12-byte key configuration to your Cloak vault:

[code]

This will cause your vault to gradually re-encrypt all your data to 12 byte IVs as it is read and written.

2. To eagerly re-encrypt your data, see [cloak_ecto's migrate feature](https://he

[2020-02-01 17:04] #93 closed

[2020-02-17 15:04] Neustradamus commented on #93
Linked to:
- https://github.com/xsf/xeps/pull/894

[2020-04-27 14:26] hissssst opened #96 "Performance: use :persistent_term instead of :ets"
This would tune the performance, because in current implementation `:ets` is created without `read_concurrency` which makes all encryptions and decryptions synchronous.

We can:
* use `read_concurrency: true`
* use `:persistent_term` instead of `:ets`

I can implement this issue if you argee with this suggestion

[2020-04-29 00:25] danielberkompas commented on #96
This sounds like it could be a good idea. I was not aware of `:persistent_term` previously. The only downside of using it is that it would require OTP 21.2 or later. (Released Dec 10, 2018)

This might require a version bump to 2.0.0, in order to drop support for earlier versions of OTP.

[2020-04-29 00:26] danielberkompas commented on #96
Either way, I'd love to see a PR! (Benchmarks comparing it to `:ets` would be nice to have, as well)

[2020-05-23 02:39] QuinnWilton opened #98 "Recommend GCM over CTR"
It was pointed out to me that Cloak supports both GCM mode and CTR mode. Since GCM mode is the more secure choice of the two (CTR is unauthenticated, and thus susceptible to malleability attacks), I wonder if it's worth including a recommendation to use GCM mode in both this project, and `cloak_ecto`?

I understand that you're probably not in a position to remove CTR support, for backwards compati

[2020-10-06 09:37] robinvdvleuten opened #99 "Add padding to prevent data leakage"
It would prevent data leakage if it is possible to add padding to encrypted values. Especially when encrypting "enum" values. A good use case for padding is shown on the [Lockbox README](https://github.com/ankane/lockbox#data-leakage).

When pointed into the right direction, I can try to create a PR for this feature.

[2020-10-27 16:20] cybrox opened #117 "Throw on missing cipher configuration?"

[2021-03-29 07:46] v0idpwn opened #102 "Cloak relies in deprecated :crypto API that will be removed in OTP 24"
We are getting close to OTP 24 and I think this issue should be addressed.

[2021-04-02 03:06] danielberkompas commented on #102
I'd happily accept a PR for this if you're able.

[2021-04-02 06:28] v0idpwn commented on #102
Sure, will do it :)

Shall we keep support for OTP 21? We can dinamically select API based on the running version.

[2021-04-03 00:55] danielberkompas commented on #102
Yes please. That's the main reason this hasn't been done yet.

[2021-05-21 11:48] wingyplus commented on #102
Do we need to have elixir and otp job matrix in semaphore ci to test against the old version and incoming version?

[2021-05-21 13:17] v0idpwn commented on #102
I think this would be the best with the decision to maintain compatibility with 21, @wingyplus.

Personally, I'd break compatibility with OTP 21. [Even rebar doesn't support it anymore](https://github.com/erlang/rebar3/pull/2555), and users that plan to stick to it could just not update Cloak. This would also allow to use Persistent Term instead of ETS as vault (The current vault implementation is

[2021-05-21 14:26] wingyplus commented on #102
I have been try in https://github.com/wingyplus/cloak/blob/ci-matrix/.semaphore/semaphore.yml. I will open a PR if maintainer is ok to have it. :)

During setup, I found that Elixir 1.12 is require OTP version 22+ (refer to https://wingyplus.semaphoreci.com/jobs/5c15f396-a07b-41eb-958b-ba22e912ce31).

[2021-06-05 22:43] danielberkompas commented on #102
This is fixed in #104!

[2021-06-05 22:43] #102 closed

[2021-12-28 18:38] pcarvsilva opened #111 "ETS problem with Clock as application in umbrella project"
:ets.lookup(MyApp.Vault.Config, :config)
* 1st argument: the table identifier does not refer to an existing ETS table

[2021-12-28 18:53] #111 closed

[2022-01-06 20:12] oliver-kriska commented on #96
I took @hissssst 's PR #97 and updated main branch, upgraded it to fully support Elixir 1.13.1 and Erlang 24.2. I did some really simple benchmarks with Benchee:
[code]
## :ets
[code]
## :persistent_term
[code]
Merged results
[code]

All my changes are [here](https://github.com/oliver-kriska/cloak), better view of all changes [here](https://github.com/danielberkompas/cloak/compare/master...oliver-

[2022-01-08 19:20] hissssst commented on #96
@oliver-kriska , thank you for this benchmark! However, I think that the performance difference between `:persistent_term` and `:ets` (without `read_concurrency`) implementations is visible only in parallel access. And to be clear about performance, we'd better test the configuration access part without encryption/decryption

[2022-01-08 19:43] hissssst commented on #96
For example, with the same benchmark with `parallel: 4` on 8 core intel i7 shows

For `ets` without `read_concurrency`
[code]

And for `ets` with `read_concurrency`
[code]

What is a 20% increase in performance

Configuration:
[code]

By the way, for 1 in parallel (without `read_concurrency`) `i7` beats `m1` hehe
[code]

[2022-01-22 19:51] acrolink commented on #111
I am facing the same issue, what is the solution?

[2022-01-22 21:35] acrolink commented on #5
And if the key gets lost, all data encrypted with it will become useless (non-recoverable), true?

[2022-02-25 18:18] michelboaventura opened #112 "Accepting function as `key` configuration"
Hey,

I'm using cloak/cloak_ecto and everything works great, thanks for the excellent project!

I'm thinking about accepting a function as value for the `key` configuration, so that it's easier to use env vars as keys without having to implement the `init` callback on `Vault`.

It'd be something like:

[code]

What do you think? I'm willing to create a PR if you think it's a good idea.

[2022-03-03 12:57] michelboaventura commented on #112
Hey,

I've find out we can't use functions within release config files, so this wouldn't work. Sorry about that!

[2022-03-03 12:57] #112 closed

[2022-03-07 14:20] MeerKatDev commented on #111
still no solution?

[2022-03-10 15:32] MeerKatDev opened #113 "{:badarg, {'aead.c', 90}, 'Unknown cipher or invalid key size'}"
This is my config:
[code]

[2022-03-24 22:34] santoshturamari opened #115 "Clock with changeset issue"
Hi All,

I am using Cloak 0.6.2 version. It was working all good. I upgraded the Elixir version to Elixir 1.13.0, Phoenix - 1.5.9 and phoenix_pubsub : 2.0.
After upgrading, I am getting the following error

(exit) an exception was raised:
** (UndefinedFunctionError) function Cloak.EncryptedBinaryField.equal?/2 is undefined or private
(cloak 0.6.2) Cloak.EncryptedBinaryField.equal?(nil, “Basement F

[2022-06-17 18:48] danielberkompas commented on #113
The key is too short. You need to use a valid 256 bit key.

[2022-06-17 18:48] #113 closed

[2022-06-17 18:51] danielberkompas commented on #115
@santoshturamari You should upgrade to a more recent version of Cloak. You are using an old version with a newer version of Ecto (3.7.2). The newer version of Ecto requires a new `equal?` function to be defined on custom Ecto types.

More recent versions of Cloak implement this `equal?` function.

[2022-06-17 18:51] #115 closed

[2022-06-20 08:55] santoshturamari commented on #115
@danielberkompas  Thanks for the reply.
I am facing some issue with existing encrypted data in our databases which has been encrypted by the older version of Cloak.
It throws compatibility error, when I try to upgrade the cloak version.

[2022-06-27 16:07] gmile commented on #111
Same issue.

@pcarvsilva would you happen to be able to share the solution you've arrived at at the end? 🤞

[2022-07-01 21:03] pcarvsilva commented on #111
@gmile I've migrrated to Oban

[2022-07-25 21:02] santoshturamari opened #118 "(UndefinedFunctionError) function :crypto.stream_init/3 is undefined or private"
Hello,

I am upgrading the Cloak version incrementally from 0.6.2 to 0.7.0
I am able to follow all the steps from the link https://hexdocs.pm/cloak/0.7.0/0.6.x_to_0.7.x.html#install-cloak-0-7
But while running mix cloak.migrate -r MyApp.Repo -s MyApp.Schema (replaced MyApp and Schema), I get the error.

[error] GenServer #PID<0.818.0> terminating
** (UndefinedFunctionError) function :crypto.stream

[2022-10-06 17:18] monooso opened #125 "ETS error when running Vault without mix"
Hello,

I'm running into an issue when attempting to [copy existing data to encrypted fields](https://hexdocs.pm/cloak_ecto/encrypt_existing_data.html#copy-data-to-new-fields) on [fly.io](https://www.fly.io) (it works fine locally).

The error is as follows:

[code]

I read through the [troubleshooting guide](https://github.com/danielberkompas/cloak_ecto/blob/master/guides/how_to/troubleshooting.m

[2022-11-05 18:03] gmile commented on #111
We found what was causing this issue for us. In our case, this was happening in tests, and was caused by a combination of factors, which may not be relevant here. However, the important clue that helped us untangle this: missing `MyApp.Vault.Config` meant vault process was dead or haven't started.

After looking closer, we identified that many other processes that typically must be alive - are not